#News {
    padding: 1% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#NewsCards {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    row-gap: 50px;
}
.Newscard {
    width: 350px;
    height: 400px;
    padding: 5px;
    overflow: hidden;
    scrollbar-width: 0;
    background-color: #5d2250;
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0.95;
    transition: all 0.15s;
}
.Newscard:hover {
    scale: 1;
}
.Newscard h3 {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}
.Newscard img {
    max-height: 250px;
    max-width: 400px;
}

@media (max-width:1024px) {
    #NewsCards {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}
@media (max-width:768px) {
    #NewsCards {
        margin-top: 50px;
        grid-template-columns: 1fr;
    }
}
@media (max-width:550px) {
    .Newscard {
        width: 300px;
        height: 400px;
    }
    .Newscard h3 {
        font-size: 1.5rem;
    }
}